*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root{
  font-size: 62.5%;
}
html{
  scroll-behavior: smooth;
}
body{
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  margin: auto;
  height:100vh;

}
header{
  
  padding: 32px 16px;
  background-color: rgb(246, 246, 246);
}
header > h1{
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
}
header > p{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #437EF7;
  margin-bottom: initial;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  gap: 177px;
  background-color: #ffffff;
}
.menu{
  display: none;
}
.menu-toggle {
  display: block;
  cursor: pointer;
  z-index: 10;
}
.menu-open{
  display: block;
  position:absolute;
  background-color: #ffffff;
  padding-top: 100px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  
}
.menu-open li{
  
  padding-block: 20px;
}

.sign-in{
  display: none;
}

a{
  text-decoration: none;
}

section{
  background-color: #ffffff;
  margin: 70px auto ;
  border-radius: 5px;
  /*height: 650px;*/
  
}
section#section-pages{
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 360px);
  grid-auto-rows: 200px;
  gap: 32px;
  padding: 10px;
}
#section-pages  button:hover{
  background-color: #f4f4f4;
}
div.info{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #EAEBF0;
  padding: 24px 32px;
  width: 100%;

}
div.info .info-complete{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

div.info .info-complete button{
  border: 1px solid #DAE0E6;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 5px;
  padding: 12px 18px;
  font-weight: 600;
  font-size: 1.5rem;
}
div.info .info-title{
  display: flex;
  flex-direction: column;
  text-align: left;
}
v
button.button-cancel{
  display: none;
}
section#section-form{
  width: 100%;

 }
 form.forms{
  padding: 30px;
 }
 .forms > div{
  display: flex;
  flex-wrap: wrap;
 }

 div{
   columns: 2;
 }
 
 label{
   display: block;
   text-align: left;
   margin-bottom: 8px;
 }
 label ~ select{
   display: block;
 }
 #input-forms, select, textarea{
   padding: 12px 16px;
   margin-bottom: 8px;
   width: 100%;
   border: 1px solid #DAE0E6;
   border-radius: 6px;
   
 }
 input::placeholder,textarea::placeholder{
   color: #a1a1a1;
 }
 div.check{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
 }
 div.check input{
  margin-bottom: 8px;
  margin-right: 5px;
  
 }
 button.submit{
   width: 100%;
   height: 46px;
   background-color: #437EF7;
   color: white;
   border-radius: 5px;
   border: none;
 }
 button.submit:hover{
   background-color: #4e87f9;
 }
/*----------------------------*/
section.footer-info{
  background: #151B28;
  border-radius: initial;
}
div.footer-div{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 32px 16px;
}
div.footer-div > h1.footer-header {
  font-size: 28px;
 line-height: 36px;
 color: #ffffff;
 margin-bottom:16px;
}
div.footer-div h4{
  color: #437EF7;
  font-size: 14px;
  line-height: 20px;
  margin-bottom:16px;
}
div.footer-div p{
  color: #f1f1f1;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom:32px;
}
button.start-now{
  width: 133px;
  height: 46px;
  background-color: #437EF7;
  color: white;
  border-radius: 5px;
  border: none;
}
img.footer-img{
  content: url("/teste-site-responsivo/img/Photo.png");
  width: 343px;
  height: 343px;
  padding-bottom: 32px;
  object-fit:cover;
  
}
/*---------------------------------------------*/
header{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;

}
h1{
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 40px;
}
/*------------*/
footer{
  padding: 32px 16px;
  width: 100%;
}
div.footer{
  display: flex;
  flex-direction: column;

}
div.footer-footer{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: auto;
}
div.footer-logo{
  display: flex;
  flex-direction: column;
}
div.footer-logo  p{
 margin-bottom: 10px;
}
div.icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}
div.column{
  display: flex;
  flex-direction: column;
  justify-content: left;

}
div.infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width:520px) {
  body{
    width: 100%;
    height: 900px;
    
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
   
   }
   header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 30px 92px;
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 328px;
    gap: inherit;
  }
   header  p{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #437EF7;
  }
  header h1{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 60px;
  }
  
  section{
    width: 520px;                
    background-color: #ffffff;
  }

  section#section-pages{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 320px);
    grid-auto-rows: 200px;
    gap: 32px;
;
  }
  #section-pages  button:hover{
    background-color: #f4f4f4;
  }
  div.info{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #EAEBF0;
    padding: 24px 32px;
    width: 100%;

  }
  div.info .info-complete{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  div.info .info-complete button{
    border: 1px solid #DAE0E6;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 5px;
    padding: 12px 18px;
    font-weight: 600;
    font-size: 1.5rem;
  }
  div.info .info-title{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  v
  button.button-cancel{
    display: none;
  }
  form{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    
  }
  section#section-form{
    width: 100%;
    background: #F8F9FB;
   }
   .forms > div{
    display: initial;
    flex-wrap: initial;
   }
   form.forms{
    padding: 30px;
   }
   div{
     columns: 2;
   }
   label{
    display: initial;
     margin-bottom: 8px;
   }
   label ~ select{
     display: block;
   }
   #input-forms, select, textarea{
     padding: 12px 16px;
     margin-bottom: 24px;
     width: 100%;
     border: 1px solid #DAE0E6;
     border-radius: 6px;
     
   }
   input::placeholder,textarea::placeholder{
     color: #a1a1a1;
   }
   div.check input{
    margin-bottom: 24px;
    
   }
   button.submit{
     width: 88px;
     height: 46px;
     background-color: #437EF7;
     color: white;
     border-radius: 5px;
     border: none;
   }
   button.submit:hover{
     background-color: #4e87f9;
   }
  section.footer-info{
    background: #151B28;
    width: 100%;
    color: white;
    padding-bottom: 40px;
  }
  div.footer-div{
    display:flex;
    flex-direction: column;
    text-align: left;
    padding: 40px 32px;
  }
  div.footer-div h4{
    color: #437EF7;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  div.footer-div h1{
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
  }
  div.footer-div p{
    padding-block: 16px;
    color: white;
  }
  button.start-now{
    background-color: #437EF7;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    line-height: 22px;
    width: 133px;
    height: 46px;
  }
  button.start-now svg{
    margin-left:10px;
  }
  img.footer-img{
    content: url("/img/Photo2.png");
    padding-inline: 32px;
    width: 100%;
    height: 460px;
    object-fit: contain;
  }
  div.footer{
    display: flex;
  }
  div.footer-footer{
    display: flex;
    columns: 2;
    margin-bottom: 64px;
  }
  div.footer-logo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  div.footer-logo a{
    margin-bottom: 10px;
  }
  div.icons{
    align-self:flex-end;
    gap: 20px;
  }
  div.content{
    margin-bottom:30px;
  }
 div.column p{
  margin-bottom: initial;
 }
}

@media (min-width:1440px) {
  body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
   
   }
  
  #menu,.sign-in{
    display: flex;

  }
  #menu{
    margin: 0;
  }
  #menu li{
    padding-inline: 32px;

  }
  li a{
      color: black;
  }
  li a:hover{
      color: #437EF7;
  }
  main{
    margin-bottom: 64px;
  }
  .menu-toggle{
    display: none;
  }
  .sign-in button{
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    margin-left: 24px;
  }
  .sign-in .sign{
    background-color:transparent;
    color: #437EF7;
  }
   .sign-in .log{
    background-color: #437EF7;
    color: white;
    
  }
   .sign-in .sign:hover{
      background-color: #f1f1f1;
  }
  #hamburguer{
    display: none;
  }
  
  section#section-pages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 32px;
    width: 1280px;
    height: 474px;
  }
  #section-pages  button:hover{
    background-color: #f4f4f4;
  }
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 30px 92px;
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 328px;
    gap: inherit;
  }
  header p{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #437EF7;
  }
  header h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    text-align: center;
  }
 div.info{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #EAEBF0;
    padding: 24px 32px;
    width: 100%;

  }
  div.info .info-complete{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  div.info .info-complete button{
    border: 1px solid #DAE0E6;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 5px;
    padding: 12px 18px;
    font-weight: 600;
    font-size: 1.5rem;
  }
  div.info .info-title{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  form{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    
  }
  section#section-form{
   width: 1280px;
   padding: 50px;
   background: #F8F9FB;
  }

  div{
    columns: 2;
  }
  label{
    margin-bottom: 8px;
  }
  label ~ select{
    display: block;
  }
  #input-forms, select, textarea{
    padding: 12px 16px;
    margin-bottom: 24px;
    width: 100%;
    border: 1px solid #DAE0E6;
    border-radius: 6px;
    
  }
  input::placeholder,textarea::placeholder{
    color: #a1a1a1;
  }
  div.check input{
   margin-bottom: 24px;
   
  }
  button.submit{
    width: 88px;
    height: 46px;
    background-color: #437EF7;
    color: white;
    border-radius: 5px;
    border: none;
  }
  button.submit:hover{
    background-color: #4e87f9;
  }
  section.footer-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 112px 64px;
  }
  section.footer-info{
    background: #151B28;
    width: 100%;
    margin-bottom: inherit;
    height: auto;
  }
  section.footer-info h4{
    color: #437EF7;
  }
  h1.footer-header{
    font-size: 32px;
    line-height: 42px;
    color: white;
  }
  div.footer-div{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  div.footer-div h4{
    padding-bottom: 8px;
  }

  img.footer-img{
    content: url("/img/Photo.png");
    width: 560px;
    height: auto;
  }

  div.footer{
    display: flex;

  }
  div.footer-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 64px;
  }
  div.footer-logo{
    display: flex;
    flex-direction: column;

  }
  div.footer-logo .logo{
    margin-bottom: 16px;
  }
  div.footer-logo  p{
   margin-bottom: 16px;
  }
  div.icons{
    display: flex;
    justify-content: left;
    gap: 15px;
  }
  div.content{
    display: flex;
  }
  div.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.infos > img{
    margin-bottom: 16px;
  }
}


