*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}
:root{
  font-size: 62.5%;
}
html{
  scroll-behavior: smooth;
  
}
body{
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  margin: auto;

  
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  gap: 177px;
  background-color: #ffffff;
}

.menu{
  display: none;
}
.menu-toggle {
  display: block;
  cursor: pointer;
  z-index: 10;
}
.menu-open{
  display: block;
  position:absolute;
  background-color: #ffffff;
  padding-top: 100px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  
}
.menu-open li{
  
  padding-block: 20px;
}

.sign-in{
  display: none;
}

main{
  border-top: 1px solid rgb(192, 192, 192);
  width: 100%;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  display: none;
}
a{
  text-decoration: none;
}

section{
  
  background-color: #ffffff;
  margin: 11px auto;
  border-radius: 5px;
  padding: 30px;
  
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  gap: 24px;
  padding: 0px 10px;
 
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;

}
h1{
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 40px;
}
header .login-google{
  padding: 12px 16px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 22px;
  border-radius: 5px;
  border:1px solid rgb(193, 193, 193);
  background-color: transparent;

}
header span{
  font-weight: 500;
  line-height: 24px;
}


div.forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
i.eyeicon{
  position: absolute;
  top:80%;
  right: 10px;
}
div.forms label{
  margin-bottom: 8px;
}

div.forms input{
  padding: 12px 16px;
  border-radius: 5px;
  border:1px solid rgb(193, 193, 193);
  background-color: transparent;
}

div.button-password{
  display: flex;
  align-items: center; 
  justify-content: center;
  
}
div.button-password input#checkbox{
  margin-right: 5px;
}
div.button-password a{
  margin-left: 12px;
}
div.buttons{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
button.button-login{
  border: none;
  border-radius: 5px;
  background-color: #437EF7;
  color: white;
  padding: 12px 16px;
}
button.button-cancel{
  display:block;
  border-radius: 5px;
  border:1px solid rgb(193, 193, 193);
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
}

div.register{
  display: flex;
  gap: 10px; 
}

@media (min-width:520px) {
  img{
    display: none;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
   
  }

  #menu li{
    margin-bottom:10px;
  }
  section{
    width: 550px;
    margin: 40px auto ;
    border-radius: 5px;
    padding: 30px;
    
  }
  button.button-cancel{
    display: none;
  }
  
}
@media (min-width:1440px) {

 nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
 
 }

  #menu,.sign-in{
    display: flex;

  }
  #menu{
    margin: 0;

  }
  #menu li{
    padding-inline: 32px;

  }
  li a{
      color: black;
  }
  li a:hover{
      color: #437EF7;
  }
  .menu-toggle{
    display: none;
  }
  .sign-in button{
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    margin-left: 24px;
  }
  .sign-in .sign{
    background-color:transparent;
    color: #437EF7;
  }
   .sign-in .log{
    background-color: #437EF7;
    color: white;
    
  }
   .sign-in .sign:hover{
      background-color: #f1f1f1;
  }

  button.nav-bar{
    display: none;
  }

  main{
    border-top: 1px solid rgb(192, 192, 192);
    display: flex;
  }
  img{
    width: 980px;
    height: 100%;
    display: inline-block;
  }
  section{
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-color: #ffffff;
    padding-top:60px;
  }
  form{
    width: 424px;
    margin: auto;
  }
  
  
}